{% load static %}
<footer class="footer_container">
        <div class="footer">
            <div class="author-and-logo">
                <div class="author">
                    Designed By: Sonir Aster
                </div>
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'shop/images/logo.png' %}" alt="logo">
                    </a>
                </div>
            </div>
            <div class="additional-info">
                <div class="blog">
                    <a href="#">Blog</a>
                </div>
                <div class="about">
                    <a href="#">About</a>
                </div>
                <div class="contacts">
                    <a href="#">Contacts</a>
                </div>
            </div>
        </div>
    </footer>