{% load static %}
<div class="navbar">

            <form action="{% url 'filter' %}" method="get" autocomplete="off">
                <button class="navbar_close"><h5>Close Filters</h5></button>
                    <h5>Price $</h5>
                    <input
                            type="range"
                            value="{{ minMaxPrice.price__max }}"
                            min="{{ minMaxPrice.price__min }}"
                            max="{{ minMaxPrice.price__max }}"
                            name="max-price"
                    >
                     {{ minMaxPrice.price__min }} - {{ minMaxPrice.price__max }}

                <div class="navbar_producer">
                    <h5>Producer</h5>
                    {% for producer in view.get_producers %}
                    <ul class="navbar_producer_list">
                        <label>
                        <input type="checkbox" name="producer" value="{{ producer.pk }}" >
                        {{ producer.prod }}
                            </label>
                    </ul>
                    {% endfor %}
                </div>
                <div class="navbar_country">
                    <h5>Country</h5>
                    {% for country in view.get_countries %}
                    <ul class="navbar_country_list">
                        <input type="checkbox" name="country" value="{{ country.pk }}">
                        {{ country.count }}
                    </ul>
                    {% endfor %}
                </div>
                <div class="navbar_color">
                    <h5>Color</h5>
                    {% for color in view.get_colors %}
                    <ul class="navbar_color_list">
                            <input type="checkbox"  name="color" value="{{ color.pk }}" >
                            {{ color.col }}
                        {% endfor %}
                    </ul>
                </div>
                <div class="navbar_availability">
                    <h5>Availability</h5>
                    <ul class="navbar_availability_list">
                        <li class="navbar_availability_item">
                            <input  type="checkbox" name="available" value="True">
                            Available
                        </li>
                    </ul>
                </div>
                <div class="navbar_color">Goods on page:
                <select name="paginate_by">
                                <option>2</option>
                                <option>32</option>
                                <option>64</option>
                </select>
                </div>
                <button type="submit" class="navbar_search" >Search</button>
            </form>
            </div>
