{% load static %}


<nav class='pagination-container'>
    <ul class="paginator">
        {% if page_obj.has_previous %}
        <li>
            <a href="?{{ q }}{{ price }}{{ country }}{{ color }}{{ available }}{{ ordering }}{{ paginate_by}}page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in page_obj.paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-num-page-num-selected">
            {{ p }}
        </li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li>
            <a href="?{{ q }}{{ price }}{{ country }}{{ color }}{{ available }}{{ ordering }}{{ paginate_by}}page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            <a href="?{{ q }}{{ price }}{{ country }}{{ color }}{{ available }}{{ ordering }}{{ paginate_by}}page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>




























