<h2 class="store_recently-added-products-title">Recently added</h2>
                <div class="store_recently-added-products-list">
                    {% for y in yarn %}
                    <a href="#" class="store_products-list_item">
                        <h4 class="store_item_title">{{ y.name }}</h4>
                        <div class="store_item_image">
                            <img src="{{ y.image.url }}" alt="image" width="240">
                        </div>
                        <div class="store_item_description">Good yarn!</div>
                        <h4 class="price">{{ y.subcat.price }}$</h4>
                    </a>
                    {% endfor %}
                </div>
