{% load tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yarn Shop</title>
    <link rel="stylesheet" href="{% static 'shop/css/index.css' %}" type="text/css" media="all">
</head>
<body>
    {% include 'shop/include/header.html' %}
    <main class="main_container">
        <div class="main">
            {% include 'shop/include/navbar.html' %}
            <div class="store">
                <div class="store_head">
                    <div class="store_sub-head">
                        <button class="store_show-filters">Filters</button>
                        <h2>100 goods available</h2>
                    </div>
                    <div class="store_set-goods-count">
                        <h4 class="store_set-goods-count_title">Goods on page:</h4>
                        <a href="#">16</a>
                        <a href="#">24</a>
                        <a href="#">32</a>
                    </div>
                </div>
                {% block content %}
                {% endblock %}
                {% recently_added %}

            </div>
        </div>
    </main>
    {% include 'shop/include/footer.html' %}
    <script>
        function setDisplayStyle (elClass, targClass, targStyle) {
            document
            .querySelector(elClass)
            .addEventListener('click', 
                () => {document.querySelector(targClass).style.display = targStyle}
            )
        }

        setDisplayStyle('.store_show-filters', '.navbar', 'block');
        setDisplayStyle('.navbar_close', '.navbar', 'none');
        setDisplayStyle('.header_mobile_menu', '.header_mobile_menu-container', 'block');
        setDisplayStyle('.mob_categories-list-container', '.mob_categories_list', 'block');
        setDisplayStyle('.mob_categories_close_button', '.mob_categories_list', 'none');
        setDisplayStyle('.header_mobile_close_menu_button', '.header_mobile_menu-container', 'none');
    </script>
</body>
</html>