{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <title>Product Card/Page</title>

  </head>
  <body>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "{% static 'shop/images/1.webp' %}" alt = "shoe image">
            </div>
          </div>
          <div class = "img-select">
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "{% static 'shop/images/1.webp' %}" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "{% static 'shop/images/2.webp' %}" alt = "shoe image">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "{% static 'shop/images/3.webp' %}" alt = "shoe image">
              </a>
            </div>
          </div>

        
        </div>
      </div>
    </div>

    
    <script src="{% static 'shop/js/script.js' %}"></script>
  </body>
</html>