{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yarn Shop</title>
    <link rel="stylesheet" href="{% static 'shop/css/index.css' %}" type="text/css" media="all">
</head>

<body>
    {% include 'shop/include/header.html' %}

    <div class="product_detail">
        <div class="product_detail-container">
            <div class="slider_container">
                <div class="product_slider">
                    <h3 class="product_title">{{ yarn.name }}</h3>
                    <img class="product_image" src="{{ yarn.image.url }}" alt="image">
                </div>
                <div class="slider_switch-block">
                    <button class="slider_next">
                        <i class="arrow up"></i>
                    </button>
                    <button class="slider_previous disabled">
                        <i class="arrow down"></i>
                    </button>
                </div>
            </div>
            <div class="product_characteristics">
                <h4>Characteristics</h4>
                <ul class="product_characteristics_list">
                    <li>Length: {{ yarn.subcat.length }}m</li>
                    <li>Weight: {{ yarn.subcat.weight }}g</li>
                    <li>Material: {{ yarn.subcat.material }}</li>
                    <li>Spokes: {{ yarn.subcat.spokes }}</li>
                    <li>Hook: {{ yarn.subcat.hook }}</li>
                    <li>Producer: {{ yarn.subcat.prod }}</li>
                    <li>Country: {{ yarn.subcat.count }}</li>
                    <li>Color: {{ yarn.col }}</li>
                    {% if yarn.availability == True %}
                    <li>Availability: available</li>
                    {% else %}
                    <li>Availability: Not available</li>
                    {% endif %}
                </ul>
            </div>
            <div class="product_buy-block">
                <button class="product_buy-button">Buy</button>
                <div class="product_price">{{ yarn.subcat.price }}$</div>
            </div>
            <p class="product_description">
               {{ yarn.subcat.description }}
            </p>
        </div>
    </div>
    {% include 'shop/include/footer.html' %}
    <script src="shop/static/js/slider.js"></script>
    <script>
        var slider = new Slider();
        slider.initialization();
    </script>

</body>
</html>

