{% extends 'shop/base.html' %}

{% block content %}
<div class="store_products-list">
                    {% for y in subcategory_list %}

                    <a href="#" class="store_products-list_item">
                        <h4 class="store_item_title">{{ y.name }}</h4>
                        <div class="store_item_image">
                            <img src="{{ y.image.url }}" alt="image" width="240">
                        </div>
                        <div class="store_item_description"></div>


                    </a>
                {% endfor %}
                </div>
    {% endblock %}