{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yarn Shop</title>
    <link rel="stylesheet" href="{% static 'shop/css/index.css' %}" type="text/css" media="all">

</head>

<body>
    {% include 'shop/include/header.html' %}

    <div class="product_detail">
        <div class="product_detail-container">
</div>

            <div class="product_images-table">
                <img class="product_image" src="{{ yarn.image.url }}" height="400">
                {% for s in yarn.subcat.yarnimages_set.all %}
                <img class="product_image" src="{{ s.image.url }}" height="400">
                {% endfor %}
            </div>
            <div class="product_characteristics">
                <h4>Characteristics</h4>
                <ul class="product_characteristics_list">
                    <li>Length: {{ yarn.subcat.length }}m</li>
                    <li>Weight: {{ yarn.subcat.weight }}g</li>
                    <li>Material: {{ yarn.subcat.material }}</li>
                    <li>Spokes: {{ yarn.subcat.spokes }}</li>
                    <li>Hook: {{ yarn.subcat.hook }}</li>
                    <li>Producer: {{ yarn.subcat.prod }}</li>
                    <li>Country: {{ yarn.subcat.count }}</li>
                    <li>Color: {{ yarn.col }}</li>
                    {% if yarn.availability == True %}
                    <li>Availability: available</li>
                    {% else %}
                    <li>Availability: Not available</li>
                    {% endif %}
                </ul>
            </div>

            <p class="product_description">
               {{ yarn.subcat.description }}
            </p>
            {% if yarn.availability == True %}
                        <div class="product_buy-block">

                <form action="{% url 'cart_add' yarn.id %}" method="post">
                {{ cart_yarn_form }}
                {% csrf_token %}
                <input class="product_buy-button" type="submit" value="Buy">
                </form>
                <div class="product_price">{{ yarn.subcat.price }}$</div>
            </div>
            {% else %}

            {% endif %}
        </div>

    </div>
    {% include 'shop/include/footer.html' %}





</body>
</html>

